nav {
    background-color: beige;
    display: flex;
}

ul {
    display: flex;
    gap: 34px;
}

li {
    list-style: none;
    padding: 16px;
}

.blueviolet {
    background-color: blueviolet;
    color: white;
}